:root {
  --brand-primary-color: #004f5f;
  --brand-primary-color-02: #33727e;
  --brand-primary-color-03: #46707b;
  --brand-secondary-color: #ff4e00;
  --brand-third-color: #ccdbdf;
  --brand-third-color-02: #e5edef;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-yellow: #f5d05a;
  --body--font-color: var(--color-dark);
  --box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NotoSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/NotoSans-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSans-Light.ttf") format("ttf");
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "NotoSans", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--body--font-color);
  margin: 0;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--body--font-color);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:active {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  padding: 1.6rem 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.header__container {
  padding: 0 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .header__container {
    width: 123.6rem;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}
.header__info-link {
  display: none;
}
.header.is-searching .logo,
.header.is-searching .header__info-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__info-link {
    display: none;
    color: var(--brand-secondary-color);
    font: 700 1.2rem/1.2 "NotoSans", Arial, sans-serif;
    text-transform: uppercase;
  }
  .header__info-link:hover {
    color: var(--brand-primary-color);
  }
  .header.is-searching .logo {
    display: block;
  }
}
@media screen and (min-width: 1260px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__info {
    margin: 0;
  }
  .header__info-link {
    display: inline-block;
  }
  .header.is-searching .navigation__list {
    display: none;
  }
}

.logo__img {
  width: 18rem;
  font-size: 0;
}

.lang-switcher__button {
  margin: 0 0 0 0.4rem;
  padding: 0.8rem 0.4rem;
  width: 3rem;
  border: none;
  background: transparent;
  color: var(--brand-third-color);
  font: 400 1.8rem/1 "NotoSans", Arial, sans-serif;
  cursor: pointer;
  text-align: center;
}
.lang-switcher__list {
  min-width: 13rem;
  background: var(--color-white);
  text-align: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  position: absolute;
  right: -100vw;
  top: 6.8rem;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.lang-switcher__list--open {
  right: 0;
}
.lang-switcher__item + .lang-switcher__item {
  border-top: 0.1rem solid var(--brand-third-color);
}
.lang-switcher__item-lang {
  display: block;
  padding: 1.2rem 0;
  cursor: pointer;
  font: 400 1.6rem/1 "NotoSans", Arial, sans-serif;
  color: var(--brand-primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lang-switcher__item-lang--current, .lang-switcher__item-lang:hover {
  color: var(--brand-secondary-color);
}
@media screen and (min-width: 768px) {
  .lang-switcher__list {
    -webkit-transition: none;
    transition: none;
  }
}

.header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-search__input {
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.8rem 0.8rem 0.8rem 3.2rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.header-search__input:focus {
  width: 20rem;
  border: 0.2rem solid var(--brand-third-color);
  cursor: auto;
}
.header-search__input:focus ~ .header-search__button {
  z-index: 1;
}
.header-search__input:focus ~ .header-search__button-close {
  display: block;
}
.header-search__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 0.8rem;
  z-index: -1;
}
.header-search__button-close {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  position: relative;
  width: 2.4rem;
  height: 2.2rem;
  margin: 0 0 0 0.8rem;
}
.header-search__button-close::before, .header-search__button-close::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 0.2rem;
  left: 0;
  background: var(--brand-primary-color-02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-search__button-close::before {
  top: 0;
  -webkit-transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
          transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
}
.header-search__button-close::after {
  bottom: 0;
  -webkit-transform: rotate(45deg) translate(-0.7rem, -0.7rem);
          transform: rotate(45deg) translate(-0.7rem, -0.7rem);
}

.navigation {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.navigation__list {
  width: 100%;
  background: var(--color-white);
  position: absolute;
  height: calc(100vh - 6.8rem);
  right: -100%;
  top: 6.8rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 2;
}
.navigation__list.is-burger {
  right: 0;
}
.navigation__list.is-burger .navigation__link {
  opacity: 1;
}
.navigation__item {
  margin: 0 2.4rem;
}
.navigation__item + .navigation__item {
  border-top: 0.1rem solid var(--brand-third-color);
}
.navigation__link {
  display: block;
  padding: 1.6rem 4rem 1.6rem 0;
  font: 700 1.8rem/1.2 "NotoSans", Arial, sans-serif;
  position: relative;
  color: var(--brand-primary-color);
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navigation__link::after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  background: url("../images/arrow.svg") no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}
.navigation__link:hover {
  color: var(--brand-primary-color);
}
.navigation__burger-button {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 0 1.6rem;
  width: 3.2rem;
  height: 2.2rem;
}
.navigation__burger-button::before, .navigation__burger-button::after {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 0.2rem;
  left: 0;
  background: var(--brand-third-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__burger-button::before {
  top: 0;
}
.navigation__burger-button::after {
  bottom: 0;
}
.navigation__burger-button.is-burger .navigation__burger-span {
  opacity: 0;
}
.navigation__burger-button.is-burger::before {
  -webkit-transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
          transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
}
.navigation__burger-button.is-burger::after {
  -webkit-transform: rotate(45deg) translate(-0.7rem, -0.7rem);
          transform: rotate(45deg) translate(-0.7rem, -0.7rem);
}
.navigation__burger-span {
  width: 3.2rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: var(--brand-third-color);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (min-width: 1260px) {
  .navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: static;
    height: auto;
    width: auto;
  }
  .navigation__item {
    margin: 0 1.6rem;
  }
  .navigation__item + .navigation__item {
    border-top: none;
  }
  .navigation__link {
    font: 700 1.2rem/1.2 "NotoSans", Arial, sans-serif;
    padding: 0;
    opacity: 1;
  }
  .navigation__link::after {
    display: none;
  }
  .navigation__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    height: 0.4rem;
    background: var(--brand-secondary-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navigation__link:hover, .navigation__link--active {
    color: var(--brand-secondary-color);
  }
  .navigation__link:hover::before, .navigation__link--active::before {
    right: 0;
  }
  .navigation__burger-button {
    display: none;
  }
}

.footer__information {
  background: var(--brand-primary-color-02);
  color: var(--color-white);
}
.footer__information-container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer__information-container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .footer__information-container {
    width: 123.6rem;
  }
}
.footer__social-media {
  background: var(--brand-third-color);
}
.footer__social-media-container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer__social-media-container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .footer__social-media-container {
    width: 123.6rem;
  }
}
.footer__social-media-list {
  padding: 2rem 0;
  text-align: center;
}
.footer__social-media-item + .footer__social-media-item {
  margin: 1.2rem 0 0;
}
.footer__social-media-link {
  display: inline-block;
}
.footer__social-media-link:hover {
  opacity: 0.8;
}
.footer__social-media-img {
  height: 2.4rem;
  max-width: 12rem;
}
.footer__logo {
  padding: 1.6rem 0;
  background: var(--brand-primary-color);
  text-align: center;
}
.footer__logo-container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .footer__logo-container {
    width: 123.6rem;
  }
}
.footer__logo-img {
  max-width: 32rem;
}
.footer__copyright {
  padding: 1.6rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: var(--brand-primary-color);
}
.footer__copyright-container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright-container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .footer__copyright-container {
    width: 123.6rem;
  }
}
.footer__copyright-link {
  position: relative;
  padding: 0 0.4rem;
  color: var(--brand-primary-color);
  text-decoration: underline;
}
.footer__copyright-link + .footer__copyright-link::before {
  content: ".";
  position: absolute;
  font-size: 1.6rem;
  left: -0.3rem;
  top: -0.4rem;
}
.footer__copyright-link + .footer__copyright-link:hover::before {
  color: var(--brand-primary-color);
}
@media screen and (min-width: 768px) {
  .footer__information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__social-media-item + .footer__social-media-item {
    margin: 0;
  }
}
@media screen and (min-width: 1260px) {
  .footer__information-container {
    padding: 2.4rem 0;
  }
  .footer__copyright {
    padding: 2.4rem 0;
  }
}

.footer-nav {
  padding: 2.4rem 0;
}
.footer-nav.is-open-block .footer-nav__list {
  display: block;
}
.footer-nav.is-open-block .footer-nav__title::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer-nav__list {
  display: none;
}
.footer-nav + .footer-nav {
  border-top: 0.1rem solid var(--brand-third-color-02);
}
.footer-nav__title {
  margin: 0 0 0.8rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.footer-nav__list-item + .footer-nav__list-item {
  margin: 0.8rem 0 0;
}
.footer-nav__title {
  position: relative;
  cursor: pointer;
}
.footer-nav__title::before {
  content: "";
  background: url("../images/icons-arrow-down.svg") no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-nav__list-link {
  color: var(--color-white);
  font-size: 1.4rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    width: 50%;
    text-align: center;
  }
  .footer-nav + .footer-nav {
    border-top: none;
  }
  .footer-nav__list {
    display: block;
  }
  .footer-nav__title {
    cursor: auto;
  }
  .footer-nav__title::before {
    display: none;
  }
}
@media screen and (min-width: 1260px) {
  .footer-nav {
    width: 25%;
    padding: 3.2rem 0;
    text-align: left;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer-nav__list-link {
    position: relative;
  }
  .footer-nav__list-link::before {
    content: "-";
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .footer-nav__list-link:hover {
    padding: 0 0 0 0.8rem;
  }
  .footer-nav__list-link:hover::before {
    display: block;
  }
}

.slider {
  position: relative;
}
.slider__slide-wrapper {
  background: var(--brand-third-color);
}
.slider__slide-media {
  font-size: 0;
}
.slider__slide-content {
  padding: 3.2rem 3.2rem 5.8rem;
  text-align: center;
  height: 31rem;
}
.slider__slide-subtitle {
  margin: 0 0 0.8rem;
  color: var(--brand-secondary-color);
  font: 700 1.8rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
}
.slider__slide-title {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 2.4rem/1.4 "NotoSans", Arial, sans-serif;
  margin: 0 0 1.2rem;
}
@media screen and (min-width: 768px) {
  .slider__slide-title {
    font: 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .slider__slide-title {
    font: 3.6rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.slider__slide-description {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 400 1.8rem/1.5 "NotoSans", Arial, sans-serif;
}
.slider .slick-dots {
  margin: 0;
  position: absolute;
  z-index: 1;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  bottom: 1.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider .slick-dots li {
  margin: 0 0.8rem;
  width: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider .slick-dots li:hover {
  opacity: 1;
}
.slider .slick-dots li.slick-active {
  opacity: 1;
}
.slider .slick-dots li.slick-active button {
  width: 1.2rem;
  height: 1.2rem;
}
.slider .slick-dots button {
  cursor: pointer;
  display: block;
  padding: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: var(--brand-secondary-color);
}
@media screen and (min-width: 768px) {
  .slider__slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-bottom: 0.5rem solid var(--color-yellow);
  }
  .slider__slide-media {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .slider__slide-wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .slider__slide-content {
    height: auto;
    padding: 3.2rem;
    max-width: 61.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
}
@media screen and (min-width: 1260px) {
  .slider__slide-description {
    font: 400 2.2rem/1.5 "NotoSans", Arial, sans-serif;
  }
}

.tabs {
  background: var(--brand-third-color-02);
  padding: 3.2rem 0;
}
.tabs__container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .tabs__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .tabs__container {
    width: 123.6rem;
  }
}
.tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 35rem;
  margin: 0 auto;
}
.tabs__content-tab-media {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  min-height: 36.6rem;
}
.tabs__content-tab-image {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs__content-input {
  display: none;
}
.tabs__content-input:checked + .tabs__content-label {
  font-weight: 700;
}
.tabs__content-input:checked + .tabs__content-label::after {
  height: 100%;
}
.tabs__content-input:checked + .tabs__content-label + .tabs__content-tab {
  display: block;
}
.tabs__content-label {
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--brand-primary-color);
  font: 400 1.8rem/1 "NotoSans", Arial, sans-serif;
  padding: 0 0 0 6rem;
  margin: 0 0 0.4rem;
}
.tabs__content-label::after {
  content: "";
  width: 0.4rem;
  right: 0;
  top: 0;
  position: absolute;
  background: var(--brand-secondary-color);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tabs__content-label::before {
  content: "";
  width: 5rem;
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-color: var(--brand-third-color);
  background-size: 3.6rem;
  background-position: 0.7rem 0.7rem;
}
.tabs__content-label--child-1::before {
  background-image: url("../images/icon_agility_2c.png");
}
.tabs__content-label--child-2::before {
  background-image: url("../images/icon_award_ribbon_star_2c.png");
}
.tabs__content-label--child-3::before {
  background-image: url("../images/icon_compliance_2c.png");
}
.tabs__content-label--child-4::before {
  background-image: url("../images/icon_fingerprint_check_2c.png");
}
.tabs__content-label--child-5::before {
  background-image: url("../images/icon_gauge_meter_2c.png");
}
.tabs__content-label--child-6::before {
  background-image: url("../images/icon_supplier_2_2c.png");
}
.tabs__content-label--child-7::before {
  background-image: url("../images/icon_graph_2c.png");
}
.tabs__content-tab {
  width: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  .tabs__content {
    width: auto;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-gap: 0.4rem;
    grid-auto-rows: auto;
    -ms-grid-columns: 1fr 0.4rem 1fr 0.4rem 1fr 0.4rem 1fr 0.4rem 1fr 0.4rem 1fr 0.4rem 1fr;
    grid-template-columns: repeat(7, 1fr);
  }
  .tabs__content-tab {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 3;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 7;
    grid-row-end: 8;
  }
  .tabs__content-label {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    margin: 0;
  }
  .tabs__content-label--child-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  .tabs__content-label--child-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  .tabs__content-label--child-3 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  .tabs__content-label--child-4 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  .tabs__content-label--child-5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  .tabs__content-label--child-6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
  .tabs__content-label--child-7 {
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}
@media screen and (min-width: 1260px) {
  .tabs__content {
    grid-column-gap: 0.8rem;
  }
  .tabs .tabs__content-label:hover + .tabs__content-tab {
    display: block;
    z-index: 22;
  }
  .tabs__content-label {
    height: 8.4rem;
    padding: 0 0 0 11rem;
    font-size: 2.2rem;
  }
  .tabs__content-label::before {
    width: 8.4rem;
    height: 8.4rem;
    background-position: 1.2rem 1.2rem;
    background-size: 6rem;
  }
  .tabs__content-label:hover {
    font-weight: 700;
  }
  .tabs__content-label:hover::after {
    height: 100%;
  }
}

.promo {
  background: var(--brand-third-color);
  padding: 2.4rem 0;
}
.promo__container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .promo__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .promo__container {
    width: 123.6rem;
  }
}
.promo__title {
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 2.4rem/1.4 "NotoSans", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  .promo__title {
    font: 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .promo__title {
    font: 3.6rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.promo__description {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 400 1.8rem/1.5 "NotoSans", Arial, sans-serif;
}
.promo__button {
  position: relative;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  text-align: center;
  min-width: 16rem;
  height: 6rem;
  margin: 2rem 0 0;
  background: var(--color-white);
  border: 0.3rem solid var(--brand-secondary-color);
  color: var(--brand-secondary-color);
  font: 700 1.6rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.promo__button:hover {
  color: var(--brand-secondary-color);
}
.promo__button::before, .promo__button::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  right: -0.3rem;
  background: var(--color-white);
}
.promo__button::before {
  bottom: 0.5rem;
}
.promo__button::after {
  bottom: 1.1rem;
}
@media screen and (min-width: 1260px) {
  .promo__button:hover {
    border-color: var(--brand-primary-color);
    color: var(--brand-primary-color);
  }
  .promo__button:hover::after {
    top: 0.5rem;
  }
  .promo__button:hover::before {
    top: 1.1rem;
  }
}
.promo__wrapper {
  padding: 3.2rem 2.4rem;
}
@media screen and (min-width: 1260px) {
  .promo {
    padding: 8rem 0;
  }
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo__media {
    width: 50%;
  }
  .promo__wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__content {
    padding: 6.4rem 4rem 6.4rem 12rem;
  }
}

.feed-cards__container {
  padding: 0 2.4rem;
  padding: 4rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .feed-cards__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .feed-cards__container {
    width: 123.6rem;
  }
}
.feed-cards__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.6rem;
  grid-auto-rows: auto;
  -ms-grid-columns: 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr;
  grid-template-columns: repeat(6, 1fr);
}
.feed-cards__header {
  max-width: 106rem;
  margin: 0 auto 3.2rem;
  text-align: center;
}
.feed-cards__card-info {
  display: block;
  padding: 0 0 0.8rem;
  font: 700 1.8rem/1 "NotoSans", Arial, sans-serif;
  color: var(--brand-secondary-color);
  text-transform: uppercase;
}
.feed-cards__title {
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 2.4rem/1.4 "NotoSans", Arial, sans-serif;
  margin: 0 0 1.2rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .feed-cards__title {
    font: 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .feed-cards__title {
    font: 3.6rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.feed-cards__description {
  margin: 0 0 1.2rem;
  font: 1.8rem/1.5 "NotoSans", Arial, sans-serif;
}
@media screen and (min-width: 1260px) {
  .feed-cards__description {
    font: 2rem/1.5 "NotoSans", Arial, sans-serif;
  }
}
.feed-cards__card {
  grid-column: auto/span 6;
}
.feed-cards__card-container {
  padding: 2.4rem;
}
.feed-cards__card-media {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 56.25% 0 0;
}
.feed-cards__card-media-image {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feed-cards__card-header {
  position: relative;
  margin: 0 0 2.4rem;
  padding: 0 0 1.6rem;
}
.feed-cards__card-header::before, .feed-cards__card-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--brand-primary-color);
  height: 0.4rem;
}
.feed-cards__card-header::before {
  left: 0;
  width: 18rem;
}
.feed-cards__card-header::after {
  left: 18.4rem;
  width: 0.4rem;
}
.feed-cards__card-header--image {
  padding: 0 0 1.6rem 8rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.feed-cards__card-header--image::before {
  left: 8rem;
}
.feed-cards__card-header--image::after {
  left: 26.4rem;
}
.feed-cards__card-header--support {
  background-image: url("../images/icon_agility_2c.png");
}
.feed-cards__card-header--expertise {
  background-image: url("../images/icon_award_ribbon_star_2c.png");
}
.feed-cards__card-header--community {
  background-image: url("../images/icon_graph_2c.png");
}
.feed-cards__card-title-span {
  display: block;
  font-weight: 400;
}
.feed-cards__card-description {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1.6rem;
}
.feed-cards__footer {
  padding: 2.4rem 0 0;
  text-align: center;
}
.feed-cards__link-more {
  position: relative;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  text-align: center;
  min-width: 16rem;
  height: 6rem;
  margin: 2rem 0 0;
  background: var(--color-white);
  border: 0.3rem solid var(--brand-secondary-color);
  color: var(--brand-secondary-color);
  font: 700 1.6rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.feed-cards__link-more:hover {
  color: var(--brand-secondary-color);
}
.feed-cards__link-more::before, .feed-cards__link-more::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  right: -0.3rem;
  background: var(--color-white);
}
.feed-cards__link-more::before {
  bottom: 0.5rem;
}
.feed-cards__link-more::after {
  bottom: 1.1rem;
}
@media screen and (min-width: 1260px) {
  .feed-cards__link-more:hover {
    border-color: var(--brand-primary-color);
    color: var(--brand-primary-color);
  }
  .feed-cards__link-more:hover::after {
    top: 0.5rem;
  }
  .feed-cards__link-more:hover::before {
    top: 1.1rem;
  }
}
.feed-cards--default .feed-cards__card {
  background: var(--color-white);
}
.feed-cards--default .feed-cards__card-container {
  padding: 2.4rem 0;
}
.feed-cards--default .feed-cards__card-header {
  padding: 0;
}
.feed-cards--default .feed-cards__card-header::before, .feed-cards--default .feed-cards__card-header::after {
  display: none;
}
.feed-cards--default .feed-cards__card-link {
  position: relative;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  text-align: center;
  min-width: 16rem;
  height: 6rem;
  margin: 2rem 0 0;
  background: var(--color-white);
  border: 0.3rem solid var(--brand-secondary-color);
  color: var(--brand-secondary-color);
  font: 700 1.6rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.feed-cards--default .feed-cards__card-link:hover {
  color: var(--brand-secondary-color);
}
.feed-cards--default .feed-cards__card-link::before, .feed-cards--default .feed-cards__card-link::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  right: -0.3rem;
  background: var(--color-white);
}
.feed-cards--default .feed-cards__card-link::before {
  bottom: 0.5rem;
}
.feed-cards--default .feed-cards__card-link::after {
  bottom: 1.1rem;
}
@media screen and (min-width: 1260px) {
  .feed-cards--default .feed-cards__card-link:hover {
    border-color: var(--brand-primary-color);
    color: var(--brand-primary-color);
  }
  .feed-cards--default .feed-cards__card-link:hover::after {
    top: 0.5rem;
  }
  .feed-cards--default .feed-cards__card-link:hover::before {
    top: 1.1rem;
  }
}
.feed-cards--default .feed-cards__card-link::before {
  left: auto;
  -webkit-transform: none;
          transform: none;
  top: auto;
}
.feed-cards--default .feed-cards__card-link:hover::before {
  background: var(--color-white);
}
.feed-cards--default .feed-cards__card-title {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 700 1.8rem/1.4 "NotoSans", Arial, sans-serif;
  text-transform: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .feed-cards--default .feed-cards__card-title {
    font: 700 2rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .feed-cards--default .feed-cards__card-title {
    font: 700 2.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.feed-cards--default .feed-cards__card-title::before, .feed-cards--default .feed-cards__card-title::after {
  display: none;
}
.feed-cards--masonry .feed-cards__card {
  background: var(--brand-third-color);
}
.feed-cards--masonry .feed-cards__card-title {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 700 1.8rem/1.4 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .feed-cards--masonry .feed-cards__card-title {
    font: 700 2rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .feed-cards--masonry .feed-cards__card-title {
    font: 700 2.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.feed-cards--masonry .feed-cards__card-link {
  position: relative;
  padding: 0 0 0 1.6rem;
  font: 700 1.6rem/1.2 "NotoSans", Arial, sans-serif;
  color: var(--brand-secondary-color);
  text-transform: uppercase;
}
.feed-cards--masonry .feed-cards__card-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
  background: var(--brand-secondary-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.feed-cards--masonry .feed-cards__card-link:hover {
  color: var(--brand-secondary-color);
}
@media screen and (min-width: 768px) {
  .feed-cards__container {
    padding: 6.4rem 0;
  }
  .feed-cards__card {
    grid-column: auto/span 3;
  }
  .feed-cards__card-title {
    font: 700 2.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .feed-cards__container {
    padding: 8.8rem 0;
  }
  .feed-cards__header {
    margin: 0 auto 4rem;
  }
  .feed-cards__card {
    grid-column: auto/span 2;
  }
  .feed-cards--masonry .feed-cards__card-link {
    display: inline-block;
  }
  .feed-cards--masonry .feed-cards__card-link:hover {
    color: var(--brand-primary-color);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .feed-cards--masonry .feed-cards__card-link:hover::before {
    background: var(--brand-primary-color);
  }
}

.flip-cards__container {
  padding: 0 2.4rem;
  padding: 4rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .flip-cards__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards__container {
    width: 123.6rem;
  }
}
.flip-cards__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.6rem;
  grid-auto-rows: auto;
  -ms-grid-columns: 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr 1.6rem 1fr;
  grid-template-columns: repeat(6, 1fr);
}
.flip-cards__header {
  max-width: 106rem;
  margin: 0 auto 3.2rem;
  text-align: center;
}
.flip-cards__title {
  margin: 0 0 1.2rem;
  text-transform: capitalize;
}
.flip-cards__description {
  margin: 0 0 1.2rem;
  font: 1.8rem/1.5 "NotoSans", Arial, sans-serif;
}
@media screen and (min-width: 1260px) {
  .flip-cards__description {
    font: 2rem/1.5 "NotoSans", Arial, sans-serif;
  }
}
.flip-cards__card {
  grid-column: auto/span 6;
}
.flip-cards__card-inner {
  padding: 2.4rem;
}
.flip-cards__card-back {
  padding: 2.4rem 0 0;
}
.flip-cards__card-media {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 56.25% 0 0;
}
.flip-cards__card-media-image {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flip-cards__card-title {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.flip-cards__card-description {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1.6rem;
  color: var(--color-white);
}
.flip-cards__card-link {
  position: relative;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  text-align: center;
  min-width: 16rem;
  height: 6rem;
  margin: 2rem 0 0;
  background: var(--color-white);
  border: 0.3rem solid var(--brand-primary-color);
  color: var(--brand-primary-color);
  font: 700 1.6rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.flip-cards__card-link:hover {
  color: var(--brand-primary-color);
}
.flip-cards__card-link::before, .flip-cards__card-link::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  right: -0.3rem;
  background: var(--color-white);
}
.flip-cards__card-link::before {
  bottom: 0.5rem;
}
.flip-cards__card-link::after {
  bottom: 1.1rem;
}
@media screen and (min-width: 1260px) {
  .flip-cards__card-link:hover {
    border-color: var(--brand-secondary-color);
    color: var(--brand-secondary-color);
  }
  .flip-cards__card-link:hover::after {
    top: 0.5rem;
  }
  .flip-cards__card-link:hover::before {
    top: 1.1rem;
  }
}
.flip-cards__card-link--large {
  display: none;
}
.flip-cards__card-header {
  position: relative;
  margin: 0 0 2.4rem;
  padding: 0 0 1.6rem;
}
.flip-cards__card-header::before, .flip-cards__card-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: var(--brand-primary-color);
  height: 0.4rem;
}
.flip-cards__card-header::before {
  left: 0;
  width: 18rem;
}
.flip-cards__card-header::after {
  left: 18.4rem;
  width: 0.4rem;
}
.flip-cards__card-info {
  display: block;
  padding: 0 0 0.8rem;
  font: 700 1.8rem/1 "NotoSans", Arial, sans-serif;
  color: var(--brand-secondary-color);
  text-transform: uppercase;
}
.flip-cards--default .flip-cards__card {
  background: var(--brand-primary-color-02);
}
.flip-cards--default .flip-cards__card:first-child .flip-cards__card-link {
  background: var(--brand-secondary-color);
  border-color: var(--brand-secondary-color);
  color: var(--color-white);
}
.flip-cards--default .flip-cards__card:first-child .flip-cards__card-link::before, .flip-cards--default .flip-cards__card:first-child .flip-cards__card-link::after {
  display: none;
}
.flip-cards--default .flip-cards__title {
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 2.4rem/1.4 "NotoSans", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  .flip-cards--default .flip-cards__title {
    font: 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards--default .flip-cards__title {
    font: 3.6rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.flip-cards--default .flip-cards__card-title {
  margin: 0 0 1.2rem;
  color: var(--color-white);
  font: 700 1.8rem/1.4 "NotoSans", Arial, sans-serif;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .flip-cards--default .flip-cards__card-title {
    font: 700 2rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards--default .flip-cards__card-title {
    font: 700 2.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.flip-cards--revert {
  background: var(--brand-primary-color);
}
.flip-cards--revert .flip-cards__title {
  margin: 0 0 1.2rem;
  color: var(--color-white);
  font: 2.4rem/1.4 "NotoSans", Arial, sans-serif;
}
@media screen and (min-width: 768px) {
  .flip-cards--revert .flip-cards__title {
    font: 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards--revert .flip-cards__title {
    font: 3.6rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.flip-cards--revert .flip-cards__description {
  color: var(--color-white);
}
.flip-cards--revert .flip-cards__card {
  background: var(--brand-third-color);
}
.flip-cards--revert .flip-cards__card-title {
  margin: 0 0 1.2rem;
  color: var(--brand-primary-color);
  font: 700 1.8rem/1.4 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .flip-cards--revert .flip-cards__card-title {
    font: 700 2rem/1.4 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards--revert .flip-cards__card-title {
    font: 700 2.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
}
.flip-cards--revert .flip-cards__card-description {
  color: var(--color-dark);
}
@media screen and (min-width: 768px) {
  .flip-cards__container {
    padding: 6.4rem 0;
  }
  .flip-cards__card {
    grid-column: auto/span 3;
  }
}
@media screen and (min-width: 1260px) {
  .flip-cards__container {
    padding: 8.8rem 0;
  }
  .flip-cards__header {
    margin: 0 auto 4rem;
  }
  .flip-cards__card {
    grid-column: auto/span 2;
    -webkit-perspective: 100rem;
            perspective: 100rem;
  }
  .flip-cards__card:hover .flip-cards__card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .flip-cards__card-inner {
    padding: 0;
    position: relative;
    width: 100%;
    height: 38rem;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .flip-cards__card-front, .flip-cards__card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.4rem 3.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-cards__card-back {
    padding: 2.4rem;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .flip-cards__card-description {
    color: var(--brand-primary-color);
  }
  .flip-cards--default .flip-cards__card {
    background-color: transparent;
  }
  .flip-cards--default .flip-cards__card:first-child {
    grid-column: auto/span 6;
    -webkit-transform-style: initial;
            transform-style: initial;
    background: var(--brand-primary-color-02);
  }
  .flip-cards--default .flip-cards__card:first-child:hover .flip-cards__card-inner {
    -webkit-transform: none;
            transform: none;
  }
  .flip-cards--default .flip-cards__card:first-child .flip-cards__card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flip-cards--default .flip-cards__card:first-child .flip-cards__card-back {
    background: var(--brand-primary-color-02);
    text-align: left;
  }
  .flip-cards--default .flip-cards__card:first-child .flip-cards__card-front, .flip-cards--default .flip-cards__card:first-child .flip-cards__card-back {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .flip-cards--default .flip-cards__card:first-child .flip-cards__card-description {
    color: var(--color-white);
  }
  .flip-cards--default .flip-cards__card:first-child .flip-cards__card-link:hover {
    background: var(--color-white);
    border-color: var(--color-white);
    color: var(--brand-secondary-color);
  }
  .flip-cards--default .flip-cards__card-inner {
    text-align: center;
  }
  .flip-cards--default .flip-cards__card-front {
    background-color: var(--brand-primary-color-02);
  }
  .flip-cards--default .flip-cards__card-back {
    background-color: var(--brand-third-color-02);
  }
  .flip-cards--revert .flip-cards__card {
    background: transparent;
    text-align: left;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) {
    grid-column: auto/span 6;
    background: var(--color-white);
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4):hover .flip-cards__card-inner {
    -webkit-transform: none;
            transform: none;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-inner {
    height: auto;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-front, .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-back {
    background: transparent;
    position: static;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-front {
    padding: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-back {
    display: none;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-header {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 4rem 0 0;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-header::before, .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-header::after {
    display: none;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-content {
    width: 50%;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-title {
    text-transform: none;
    font: 700 3rem/1.4 "NotoSans", Arial, sans-serif;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-link--large {
    display: inline-block;
    min-width: 24rem;
    text-align: center;
    border-color: var(--brand-secondary-color);
    color: var(--brand-secondary-color);
    padding: 1.6rem;
  }
  .flip-cards--revert .flip-cards__card:nth-child(4n+4) .flip-cards__card-link--large:hover {
    border-color: var(--brand-primary-color);
    color: var(--brand-primary-color);
  }
  .flip-cards--revert .flip-cards__card-front {
    background-color: var(--brand-third-color);
  }
  .flip-cards--revert .flip-cards__card-back {
    background-color: var(--brand-primary-color-03);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.information {
  background: url("../images/large-2022_footer_image.webp") no-repeat;
  background-size: cover;
  padding: 4rem 0;
}
.information__container {
  padding: 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .information__container {
    margin: 0 auto;
    padding: 0;
    width: 67.2rem;
  }
}
@media screen and (min-width: 1260px) {
  .information__container {
    width: 123.6rem;
  }
}
.information__title {
  margin: 0 0 1.6rem;
  font: 700 3.2rem/1.2 "NotoSans", Arial, sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
}
.information__description {
  margin: 0 0 1.6rem;
  font: 400 1.8rem/1.5 "NotoSans", Arial, sans-serif;
  color: var(--color-white);
}
.information__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 0 0 2.4rem;
}
.information__container-wrapper-info {
  margin: 0;
  padding: 1.6rem;
  text-align: center;
  color: var(--color-white);
  font: 400 1.6rem/1.5 "NotoSans", Arial, sans-serif;
}
.information__container-wrapper-info-link {
  font-weight: 700;
  color: var(--brand-secondary-color);
}
.information__container-wrapper-info-link:hover {
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .information__container-left {
    padding: 2.4rem;
  }
  .information__title {
    font: 700 4.8rem/1.5 "NotoSans", Arial, sans-serif;
  }
  .information__description {
    font: 400 2.2rem/1.5 "NotoSans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1260px) {
  .information {
    padding: 6.4rem 0;
  }
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .information__container-left {
    width: 50%;
    text-align: center;
  }
  .information__container-right {
    width: 50%;
    padding: 0 0 0 2.4rem;
  }
  .information__title {
    margin: 0;
    font: 700 6.4rem/1.2 "NotoSans", Arial, sans-serif;
  }
  .information__description {
    margin: 0;
  }
}

.form {
  background: var(--brand-third-color-02);
  padding: 3.2rem 2.4rem;
}
.form__title {
  font: 400 2.2rem/1.4 "NotoSans", Arial, sans-serif;
  color: var(--brand-primary-color);
  margin: 0 0 1.6rem;
}
.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__fieldset {
  position: relative;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 0 1.6rem;
}
.form__fieldset--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__textarea {
  border-color: transparent;
  width: 100%;
  height: 12rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  color: var(--brand-primary-color);
}
.form__textarea::-webkit-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__textarea::-moz-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.form__textarea:-ms-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form__textarea::-ms-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form__textarea::placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__input {
  border-color: transparent;
  width: 100%;
  height: 5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  color: var(--brand-primary-color);
}
.form__input::-webkit-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__input::-moz-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.form__input:-ms-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form__input::-ms-input-placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form__input::placeholder {
  color: var(--brand-primary-color);
  font: 700 1.2rem/1 "NotoSans", Arial, sans-serif;
  z-index: 1;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__checkbox-label {
  color: var(--brand-primary-color);
  font: 400 1.4rem/1 "NotoSans", Arial, sans-serif;
}
.form__submit {
  width: 100%;
  margin: 0 0 1.6rem;
  border: none;
  cursor: pointer;
  padding: 1.6rem;
  background: var(--brand-secondary-color);
  color: var(--color-white);
  font: 700 1.8rem/1.5 "NotoSans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form__submit:hover {
  background: var(--brand-primary-color);
}
.form__checkbox {
  border-color: transparent;
  height: 2rem;
  width: 2rem;
  margin: 0 1.2rem 0 0;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 4rem 3.2rem;
  }
  .form__fieldset--small {
    width: 48.5%;
  }
  .form__textarea {
    height: 16rem;
  }
}