.header {
  padding: 1.6rem 0;
  box-shadow: $box-shadow;

  &__container {
    @include container();

    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
  }

  &__info-link {
    display: none;
  }

  &.is-searching {
    .logo,
    .header__info-link {
      display: none;
    }
  }

  @include respond(tablet) {
    &__info-link {
      display: none;
      color: $brand-secondary-color;
      font: 700 1.2rem / 1.2 $font-family-base;
      text-transform: uppercase;

      &:hover {
        color: $brand-primary-color;
      }
    }

    &.is-searching {
      .logo {
        display: block;
      }
    }
  }

  @include respond(desktop) {
    &__container {
      justify-content: space-between;
    }

    &__info {
      margin: 0;
    }

    &__info-link {
      display: inline-block;
    }

    &.is-searching {
      .navigation {
        &__list {
          display: none;
        }
      }
    }
  }
}
