.navigation {
    &__menu {
      order: 2;
    }
  
    &__menu-list {
      width: 100%;
      background: $color-white;
      position: absolute;
      height: calc(100vh - 6.8rem);
      right: -100%;
      top: 6.8rem;
      transition: all 0.4s ease;
      z-index: 2;
  
      &.is-burger {
        right: 0;
  
        .navigation {
          &__menu-link {
            opacity: 1;
          }
        }
      }
    }
  
    &__menu-item {
      margin: 0 2.4rem;
    }
  
    &__menu-item + &__menu-item {
      border-top: 0.1rem solid $brand-third-color;
    }
  
    &__menu-link {
      display: block;
      padding: 1.6rem 4rem 1.6rem 0;
      font: 700 1.8rem / 1.2 $font-family-base;
      position: relative;
      color: $brand-primary-color;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.4s ease;
  
      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform:translateY(-50%);
        content: '';
        background: url("../images/arrow.svg") no-repeat;
        width: 2.4rem;
        height: 2.4rem;
      }
  
      &:hover {
        color: $brand-primary-color;
      }
    }
  
    &__menu-burger-button {
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      padding: 0;
      margin: 0 0 0 1.6rem;
      width: 3.2rem;
      height: 2.2rem;
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 0.2rem;
        left: 0;
        background: $brand-third-color;
        transition: all 0.3s ease;
      }
  
      &::before {
        top: 0;
      }
  
      &::after {
        bottom: 0;
      }
  
      &.is-burger {
        .navigation__menu-burger-span {
          opacity: 0;
        }
  
        &::before {
          transform: rotate(-45deg) translate(-0.7rem, 0.7rem);
        }
  
        &::after {
          transform: rotate(45deg) translate(-0.7rem, -0.7rem);
        }
      }
    }
  
    &__menu-burger-span {
      width: 3.2rem;
      height: 0.2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: $brand-third-color;
      transition: all 0.2s ease;
    }
  
    @include respond(desktop) {
      &__menu {
        order: 0;
      }
  
      &__menu-list {
        display: flex;
        margin: 0 auto;
        position: static;
        height: auto;
        width: auto;
      }
  
      &__menu-item {
        margin: 0 1.6rem;
      }
  
      &__menu-item + &__menu-item {
        border-top: none;
      }
  
      &__menu-link {
        font: 700 1.2rem / 1.2 $font-family-base;
        padding: 0;
        opacity: 1;
  
        &::after {
          display: none;
        }
  
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2rem;
          height: 0.4rem;
          background: $brand-secondary-color;
          transition: 0.3s;
        }
  
        &:hover,
        &--active {
          color: $brand-secondary-color;
  
          &::before {
            right: 0;
          }
        }
      }
  
      &__menu-burger-button {
        display: none;
      }
    }
  }
