.footer {
  &__information {
    background: $brand-primary-color-02;
    color: $color-white;
  }

  &__information-container {
    @include container();
  }

  &__information-block {
    padding: 2.4rem 0;

    &.is-open-block {
      .footer__information-block-list {
        display: block;
      }
    }
  } 

  &__information-block-list {
    display: none;
  }

  &__information-block + &__information-block {
    border-top: 0.1rem solid $brand-third-color-02;
  }

  &__information-block-title {
    margin: 0 0 0.8rem;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__information-block-list-item + &__information-block-list-item {
    margin: 0.8rem 0 0;
  }

  &__information-block-title {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      background: url("../images/icons-arrow-down.svg") no-repeat;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__information-block-list-link {
    color: $color-white;
    font-size: 1.4rem;
    text-transform: capitalize;
  }

  &__social-media {
    background: $brand-third-color;
  }

  &__social-media-container {
    @include container();
  }

  &__social-media-list {
    padding: 2rem 0;
    text-align: center;
  }

  &__social-media-item + &__social-media-item {
    margin: 1.2rem 0 0;
  }

  &__social-media-link {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }

  &__social-media-img {
    height: 2.4rem;
    max-width: 12rem;
  }

  &__logo {
    padding: 1.6rem 0;
    background: $brand-primary-color;
    text-align: center;
  }

  &__logo-container {
    @include container();
  }

  &__logo-img {
    max-width: 32rem;
  }

  &__copyright {
    padding: 1.6rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    color: $brand-primary-color;
  }

  &__copyright-container {
    @include container();
  }

  &__copyright-link {
    position: relative;
    padding: 0 0.4rem;
    color: $brand-primary-color;
    text-decoration: underline;
  }

  &__copyright-link + &__copyright-link{
    &::before {
      content: "\002E";
      position: absolute;
      font-size: 1.6rem;
      left: -0.3rem;
      top: -0.4rem;
    }

    &:hover {
      &::before {
        color: $brand-primary-color;
      }
    }
  }

  @include respond(tablet) {
    &__information-container {
      display: flex;
      flex-wrap: wrap;
    }

    &__information-block {
      width: 50%;
      text-align: center;
    }

    &__information-block + &__information-block {
      border-top: none;
    }

    &__information-block-list {
      display: block;
    }

    &__information-block-title {
      cursor: auto;

      &::before {
        display: none;
      }
    }

    &__social-media-list {
      display: flex;
      justify-content: space-evenly;
    }

    &__social-media-item + &__social-media-item {
      margin: 0;
    }
  }

  @include respond(desktop) {
    &__information-container {
      padding: 2.4rem 0;
    }

    &__copyright {
      padding: 2.4rem 0;
    }

    &__information-block {
      width: 25%;
      padding: 3.2rem 0;
      text-align: left;
      flex-wrap: nowrap;
    }

    &__information-block-list-link {
      position: relative;

      &::before {
        content: '-';
        display: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        padding: 0 0 0 0.8rem;

        &::before {
          display: block;
        }
      }
    }
  }
}
