.footer {
  &__information {
    background: $brand-primary-color-02;
    color: $color-white;
  }

  &__information-container {
    @include container();
  }

  &__social-media {
    background: $brand-third-color;
  }

  &__social-media-container {
    @include container();
  }

  &__social-media-list {
    padding: 2rem 0;
    text-align: center;
  }

  &__social-media-item + &__social-media-item {
    margin: 1.2rem 0 0;
  }

  &__social-media-link {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }

  &__social-media-img {
    height: 2.4rem;
    max-width: 12rem;
  }

  &__logo {
    padding: 1.6rem 0;
    background: $brand-primary-color;
    text-align: center;
  }

  &__logo-container {
    @include container();
  }

  &__logo-img {
    max-width: 32rem;
  }

  &__copyright {
    padding: 1.6rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
    color: $brand-primary-color;
  }

  &__copyright-container {
    @include container();
  }

  &__copyright-link {
    position: relative;
    padding: 0 0.4rem;
    color: $brand-primary-color;
    text-decoration: underline;
  }

  &__copyright-link + &__copyright-link{
    &::before {
      content: "\002E";
      position: absolute;
      font-size: 1.6rem;
      left: -0.3rem;
      top: -0.4rem;
    }

    &:hover {
      &::before {
        color: $brand-primary-color;
      }
    }
  }

  @include respond(tablet) {
    &__information-container {
      display: flex;
      flex-wrap: wrap;
    }

    &__social-media-list {
      display: flex;
      justify-content: space-evenly;
    }

    &__social-media-item + &__social-media-item {
      margin: 0;
    }
  }

  @include respond(desktop) {
    &__information-container {
      padding: 2.4rem 0;
    }

    &__copyright {
      padding: 2.4rem 0;
    }
  }
}
